.swiper-button-prev,
.swiper-button-next {
  color: #5c54a4;
}
.swiper-pagination-bullet-active {
  background-color: #5c54a4;
}
.mainPics {
  width: 100%;
  height: 380px;
  border: 1px solid #fff;
  margin-bottom: 80px;
  overflow: hidden;
}
