@import "../assets/style/variable.scss";

.tabContainer {
  background-color: $bodyBlack;
  color: #fff;
  display: flex;
  justify-content: center;
}

.projects {
  background-color: $bodyBlack;
  .greeting {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 4vh 2vw;
    margin-bottom: 20vh;
    h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 1.4;
      strong {
        font-size: 36px;
        font-weight: 600;
        color: $colorPink;
        display: block;
      }
      .Typewriter__wrapper {
        background-color: $colorLightGreen;
        color: $bgColorBlack;
        font-weight: 500;
      }
    }
  }

  h2 {
    position: relative;
    img {
      position: absolute;
      top: -5px;
      right: -10px;
    }
  }
}
